.bs_login {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    color: white;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:first-of-type {
            width: 50%;
            background-image: url(/assets/images/background.jpg);
            // background-repeat: no-repeat;
        }

        &:not(:first-of-type) {
            width: 50%;
            background-color: purple;

            > div > form {
                display: flex;
                min-width: 300px;
                flex-direction: column;
                
                > label:not(:first-of-type) {
                    margin-top: 20px;
                }

                > button {
                    margin-top: 20px;
                }
            }
        }
    }
}